body{
    margin: 0;
}

.fullpage-wrapper{

    height: 100vh;
    background: radial-gradient(#353c44, #222931);
    display: flex;

}

.reactor-container{

    width: 300px;
    height: 300px;
    margin: auto;
    border: 1px dashed #888;

}